@import "colors";
@import "variables";
@import "screensize";

.btn {
  width: 30vw;
  height: 3.5rem;
  margin: 20px 0;
  background-color: rgb(43, 42, 42);
  font-size: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 10px;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  color: #fff;

  &:hover {
    background-color: #d1d1d6;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background: #e0e4eb;
    border: 1px solid #d1d1d6;
    box-shadow: inset 0px 2px 1px rgba(46, 49, 55, 0.15),
      inset 0px 0px 4px rgba(20, 20, 55, 0.3);
  }

  @include tabletSS {
    width: 40vw;
  }

  @include mobileSS {
    width: 50vw;
  }
}
